.product-card {
  /* margin: 20px 15px; */
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  height: 180px;
  object-fit: contain;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.product-card button {
  background: var(--primary-green);
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
}

.product-card button:disabled {
  background: #aaa;
}

@media (min-width: 576px) and (max-width: 991px) {}