* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--text-dark);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
    cursor: pointer;
    font-family: var(--font-main);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }