.header {
  background: white;
  padding: 12px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
}

.brand-name {
  margin-left: 10px;
  font-size: 35px;
  font-weight: 800;
  color: white;
  color:  var(--primary-red);
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: var(--primary-red);
  margin-left: 20px;
  font-weight: 500;
}

.cart-count {
  background: var(--primary-yellow);
  color: var(--text-dark);
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--primary-red);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 10px 0;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .brand-name {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .brand-name {
    font-size: 16px;
  }

  .logo img {
    height: 38px;
  }
}
