.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 30px auto;
  }

  @media (max-width: 768px) {
    .products {
      display: flex;
      flex-direction: column;
    }
  }